# API URL สำหรับเชื่อมต่อกับ Backend
# Production: https://api-admission.loeitech.ac.th
# Testing: https://test-api-admission.loeitech.ac.th
# Local: http://localhost:3001

VITE_API_URL=http://localhost:3001
